node_modules
dist
.env
.env.local
.env.production
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
src/version
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.cache
.temp
build.sh
build.ps1
/.github
vite.config-s.ts
