services:
  admin-2:
    image: "bkeenke/shm-admin-2:latest"
    pull_policy: always
    restart: always
    environment:
      SHM_HOST: http://api
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${MYSQL_PASS}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - api
      - mysql
    ports:
      - "8080:80"