services:
  admin-2:
    build: .
    restart: always
    environment:
      SHM_BASE_PATH: /web
      SHM_HOST: http://api
    ports:
      - "8080:80"
  api:
    image: "${SHM_REPO}/shm-api:${CORE_VERSION}"
    restart: always
    environment:
      TRUSTED_IPS: ""
      ENABLE_RATE_LIMIT: "${ENABLE_RATE_LIMIT:-false}"
    depends_on:
      - core
  core:
    image: "${SHM_REPO}/shm-core:${CORE_VERSION}"
    restart: always
    environment:
      #DEBUG: DEBUG
      TZ: ${TZ}
      LANG: C.UTF-8
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${MYSQL_PASS}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
    volumes:
      - "shm-data:/app/data"
    depends_on:
      mysql:
        condition: service_healthy
  spool:
    image: "${SHM_REPO}/shm-core:${CORE_VERSION}"
    deploy:
      mode: replicated
      replicas: 1
    restart: always
    environment:
      #DEBUG: ERROR
      TZ: ${TZ}
      LANG: C.UTF-8
      SHM_ROLE: "spool"
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${MYSQL_PASS}
      DB_HOST: ${MYSQL_HOST}
      DB_PORT: ${MYSQL_PORT}
    volumes:
      - "shm-data:/app/data"
    depends_on:
      mysql:
        condition: service_healthy
  mysql:
    image: "mysql:lts"
    restart: always
    environment:
      TZ: ${TZ}
      LANG: C.UTF-8
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASS}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASS}
    volumes:
      - "mysql-data:/var/lib/mysql"
    healthcheck:
      test: "mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  mysql-data:
    driver: local
  shm-data:
    driver: local

